---
import "@fontsource/libre-franklin/latin.css";
import "@/styles/global.css";
import { Image } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import logo from "@/images/newcastle_sacred_harp_logo.svg";
import { WORDPRESS_URL } from "astro:env/server";
import Nav from "@/components/nav.astro";

const { name: title, description } = await fetch(
  `https://public-api.wordpress.com/rest/v1.1/sites/${WORDPRESS_URL}`
).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://newcastlesacredharp.co.uk" />

    <meta property="og:locale" content="en_GB" />

    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta
      property="og:image"
      content="https://newcastlesacredharp.co.uk/newcastle_sacred_harp_logo_social.png"
    />
    <meta property="og:image:width" content="955" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Newcastle Sacred Harp" />
    <meta
      name="twitter:image"
      content="https://newcastlesacredharp.co.uk/newcastle_sacred_harp_logo_social.png"
    />

    <ClientRouter />
  </head>
  <body
    class="container mx-auto grid min-h-[100dvh] max-w-3xl grid-cols-1 grid-rows-[auto_1fr_auto] gap-y-12 px-4 pb-8 bg-red-50"
  >
    <header class="flex flex-col items-center gap-y-4">
      <div class="max-w-lg">
        <a href="/" title={title}>
          <Image
            src={logo}
            alt="Newcastle Sacred Harp Logo"
            width={1280}
            height={500}
          />
        </a>
      </div>

      <Nav />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <hr />
      <p><a href="/">Newcastle Sacred Harp</a></p>
    </footer>
    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        const menuButton = document.querySelector("nav > button");
        const menu = document.querySelector("nav > ul");
        menuButton.addEventListener("click", () => {
          menu.classList.toggle("hidden");
          menu.classList.toggle("flex");
          menuButton.textContent === "Menu"
            ? (menuButton.textContent = "Close")
            : (menuButton.textContent = "Menu");
        });
      });
    </script>
  </body>
</html>
